// Define UNM Colors 

$unm-cherry: #ba0c2f;
$unm-turquoise: #007a86;
$unm-silver: #a7a8aa;
$unm-lobo-gray: #63666a;
$unm-high-noon: #ffc600;
$unm-sandia-sunset: #ed8b00;
$unm-terra: #c05131;
$unm-mesa: #d6a461;
$unm-green-chile: #a8aa19;
$unm-deep-dusk: #8a387c;

// Custom colours and variables
$accent: $unm-turquoise;
$accent1: $unm-deep-dusk;
$accent2: $unm-terra;
$right-arrow: "\2192";
$body-text-color: #000000;
$bg-color: #ffffff;

/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,350,350i,400,400i&display=swap');

$font-family-sans-serif: "Roboto", sans-serif !default;
$presentation-heading-font: "Roboto", sans-serif !default;
$presentation-font: "Roboto", sans-serif !default;
$presentation-font-chalk: "Chalkboard", sans-serif !default;
$presentation-font-alt1: "Georgia", serif !default;
$presentation-font-alt2: "Arial", sans-serif !default;

// heading styles
$presentation-heading-color1: $unm-cherry !default;
$presentation-heading-color2: $unm-turquoise !default;
$presentation-heading-bg-color: $unm-silver !default;

// font sizes
$presentation-font-size-root: 37px;
$presentation-font-size: 27px;
$presentation-font-size-small: 22px;
$presentation-font-size-smaller: 19px;
$presentation-font-size-tiny: 12px;
$presentation-font-size-medium: 32px;
$presentation-font-size-large: 37px;

$heading-font-size-large: 3em;
$heading-font-size: 48px;
$heading-font-size-small: 1.5em;
$heading-font-size-smaller: 1.2em;

$font-size-large: 3em;
$font-size-larger: 2.5em;
$font-size: 2em;
$font-size-small: 1.5em;
$font-size-smaller: 1.2em;
$font-size-tiny: .7em;

// line heights
$line-height-large: 2em;
$line-height-larger: 1.8em;
$line-height: 1.5em;
$line-height-small: 1.2em;
$line-height-smaller: 1em;

// colors
$body-color: $body-text-color !default;
$link-color: $accent !default;
$selection-bg: #26351c !default;
$selection-color: $unm-terra !default;
$code-bg: rgb(223, 233, 237) !default;
$code-color: #000000 !default;
$code-border: 1px solid rgb(73, 71, 71) !default;
$code-font-size: 1.2em !default;
$code-line-height: 1.5em !default;
$code-font-family: "Fira Code", monospace !default;
$code-font-family-alt1: menlo, monospace !default;
// $code-font-weight: normal !default;
// $code-font-style: normal !default;
// $code-text-align: left !default;
// $code-text-transform: none !default;


/*-- scss:rules --*/

// title and headings
#title-slide {
  text-align: center; // Center the title header
  margin-left: 0em; // Add left margin
  margin-right: 0em; // Add right margin
  margin-top: 1em; // Add top margin
  margin-bottom: 1em; // Add bottom margin
  padding-bottom: 5%; // Add padding to the bottom

  .title {
    color: $presentation-heading-color1;
    font-family: $presentation-heading-font;
    font-size: 2em;
    font-weight: bolder; // changed from 350
    margin-top: 1em;
    margin-bottom: .5em;
  }

  .subtitle {
    color: $presentation-heading-color1;
    font-size: 1.4em;
    font-style: italic;
    margin-top: 0em;
    font-weight: bolder; // changed from 350
  }

  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: normal;
    font-size: $presentation-font-size-tiny;
    color: $presentation-heading-color2;
  }

  .author,
  .quarto-title-author-name {
    font-size: $presentation-font-size-smaller;
    color: $presentation-heading-color2;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: center;

    .quarto-title-author {
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      justify-content: center;
    }
  }
}

// code blocks

.reveal pre {
  // Preformatted text
  font-family: $code-font-family;
  font-size: .8em;
  line-height: 1.5em;
  background-color: $code-bg;
  // border: $code-border;
  // border-radius: 4px;
  // padding: 1em;
  // margin: 1em 0;
}


.reveal code {
  // Inline code
  font-family: $code-font-family;
  // font-size: .8em;
  // background-color: $code-bg;
  // border: $code-border;
  // border-radius: 4px;
  // padding: 1em;
  // margin: 1em 0;
}

.cell-output {
  border: 1px solid $body-color;
  border-radius: 4px;
  margin: 0.5em 0;
  font-family: $code-font-family;
  font-size: 1em;
}

// body text

.reveal {
  font-family: $font-family-sans-serif;
  font-size: $presentation-font-size;
  color: $body-text-color;
  background-color: $bg-color;
  line-height: $line-height;
  margin-top: 0%;
  margin-bottom: 1rem;
}

.reveal a {
  // Links
  line-height: $line-height;
  color: $accent;
}

.reveal p {
  // Paragraphs
  font-size: $presentation-font-size;
  font-weight: normal; // changed from 350
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.reveal h1 {
  color: $accent;
  font-weight: bold; // changed from 350
  font-size: $heading-font-size;
  margin-bottom: 3rem;
  text-align: center; // Center H1
}

.reveal h2 {
  font-weight: bolder;
  font-size: $heading-font-size;
  margin-top: 1.9rem;
  margin-bottom: 4rem;
  color: $unm-cherry;
  text-align: center; // Center H2
}

.reveal h3 {
  // color: $accent;
  font-style: bolder;
  font-weight: normal;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  font-size: $presentation-font-size-medium;
  padding-left: 1em;
}

.reveal h4 {
  color: $accent2;
  font-weight: normal;
  margin-top: 0;
}

// alerts etc.
.alert {
  color: $unm-cherry;
}

.fg {
  color: var(--col, $unm-cherry);
}

.bg {
  background-color: var(--col, $bg-color);
  padding: 0;
  border-radius: 5px;
  display: inline-block;
}

// lists
ul {
  // Unordered list
  font-size: normal;
  list-style-type: disc;
  padding-left: .5em;
  margin-bottom: 1em;
  color: $body-text-color;
}

ol {
  // Ordered list
  font-size: 1.2em;
  list-style-type: decimal;
  padding-left: .5em;
  margin-bottom: 1em;
  color: $body-text-color;
}

li {
  // List item
  font-size: 1.2em;
  list-style-type: square;
  margin-bottom: 1em;
  font-size: 1em;
  color: $body-text-color;
}

.reveal img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.reveal .slide-number {
  color: $body-text-color; // uses the existing accent2 color
  background-color: transparent;
  font-size: 1em;
  font-weight: 300;
}

// .footer {
//   bottom: 10px !important;
//   color: $body-color !important;
// }

/* More Specific Footer Styles */
.reveal .footer {
  /* Styles */
  background-color: rgba(255, 255, 255, 0.8);
  /* Light semi-transparent background */
  color: #333333;
  /* Dark text color */
}

// /* Footer Styles for Light Theme */
// .footer {
//   background-color: rgba(255, 255, 255, 0.8);
//   /* Light semi-transparent background */
//   color: #333333;
//   /* Dark text color */
// }

// // centering
// .center-x {
//   // Center horizontally
//   text-align: center;
// }

// .center-xy {
//   // Center horizontally and vertically
//   margin: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -ms-transform: translateY(-50%), translateX(-50%);
//   transform: translateY(-50%), translateX(-50%);
// }

// tables

table {
  // Table
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 1em;

  // Table header and body stripped 
  tr:nth-child(even) {
    // even rows
    background-color: rgba(0, 0, 0, 0.05);
  }
}

th {
  // Table header
  background-color: rgba(0, 0, 0, 0.1);
  color: $body-text-color;
  font-weight: bold;
  padding: 0.5em;
}

td {
  // Table data
  padding: 0.5em;
}

// sldes types

/* Title Slide Styles */
// .reveal .slides section.title-slide {
//   // background-color: #2c3e50;
//   color: white;
//   text-align: center;
//   // font-size: 2.5em;
// }

/* Section Slide Styles */
.reveal .slides section.section-slide {
  background-color: $bg-color;
  // color: $accent1;
  text-align: left;
  font-size: $presentation-font-size-medium;
  border-bottom: 5px solid #1abc9c;
}

// /* Regular Slide Styles */
// .reveal .slides section.regular-slide {
//   background-color: $bg-color;
//   color: #2c3e50;
//   font-size: 1.5em;
// }

/* Code Slide Styles */

.reveal .slides section.code-slide {
  background-color: $bg-color;
  color: #2c3e50;
  font-size: 1.5em;
}

/* long text slide */

.reveal .slides section.smaller-slide h2 {
  font-size: 1.9em;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.reveal .slides section.smaller-slide {
  // background-color: $bg-color;
  // color: #2c3e50;
  font-size: smaller;
  line-height: smaller;
}

/* Small Slide Styles - larger than long smaller than regualar */

.reveal .slides section.small-slide {
  background-color: $bg-color;
  // color: #2c3e50;
  font-size: $presentation-font-size-tiny;
  line-height: smaller;
}


/* Quote Slide Styles */
.reveal .slides section.quote-slide blockquote {
  font-style: italic;
  color: $unm-lobo-gray;
  border-left: 5px solid $unm-green-chile;
  padding-left: 20px;
}

.reveal .slides section.quote-slide {
  // background-color: #ecf0f1;
  color: $unm-cherry;
  font-size: $presentation-font-size-small;
  text-align: center;
}

/* Image Slide Styles  smaller title */

.reveal .slides section.image-slide h2 {
  font-size: 1em;
  color: $accent;
  background-color: $bg-color;
  // color: #2c3e50;
}

.reveal .slides section.image-slide {
  // make the slide area much bigger, to accommodate the image

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;

  background-color: $bg-color;
  // color: #2c3e50;
  font-size: $presentation-font-size-tiny;
}