// ====================
// 1. Variables
// ====================

// --- UNM Brand Colors (only those in actual use) ---
// $unm-cherry: #ba0c2f;
// $unm-sandia-sunset: #ed8b00; // used in .fg
// $unm-lobo-gray: #63666a; // used in blockquotes
// $unm-green-chile: #a8aa19; // used in blockquotes
// $unm-terra: #c05131; // used in h3
// $unm-deep-dusk: #8a387c; // used for $accent, $accent2

$unm-cherry: #BA0C2F;
$unm-turquoise: #007A86;
$unm-silver: #A7A8AA;
$unm-lobo-gray: #63666A;
$unm-high-noon: #FFC600;
$unm-sandia-sunset: #ED8B00;
$unm-terra: #C05131;
$unm-mesa: #D6A461;
$unm-green-chile: #A8AA19;
$unm-deep-dusk: #8A387C;

// --- Accent Colors ---
$accent: $unm-deep-dusk; // used for links, buttons
$accent2: $unm-green-chile; // used in h4


// --- Basic Colors & Text ---
$body-bg: #ffffff; // sass variable for body background
$body-color: #222; // sass variable for body text color
$link-color: $unm-turquoise; // sass variable for link color
$link-color-hover: lighten($link-color, 15%); // sass variable for link hover color
$selection-bg: lighten($unm-sandia-sunset, 30%); // sass variable for selection background color
$selection-color: lighten($unm-lobo-gray, 25%)g; // sass variable for selection text color
$light-bg-code-color: #4758ab; // sass variable for light background code color

// --- Font Families ---
$font-family-sans-serif: "Roboto", sans-serif !default; // sass variable for sans-serif font
$font-family-monospace: "Fira Code", monospace !default; // sass variable for monospace font

// User defined font families

$font-family-heading-alt1: "Lato", sans-serif; // my custom font family for headings
$font-family-heading-alt2: "Fira Sans", sans-serif; // my custom font family for headings


// --- Quarto-Recommended Base Font Sizes User Defined---
$font-size-large: 2.5em !default; // Base font size
$font-size: 1em !default; // Base font size
$font-size-medium-small: .8em !default;
$font-size-small: 0.6em !default;
$font-size-tiny: 0.4em !default;

// --- Spacing --- 
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-xlarge: 3rem;

// --- Line Height ---
// Spacing Variables
$line-height-body: 1.3rem;
$line-height-heading: 1.2rem;

// --- Heading Font Sizes ---
$presentation-font-size-root: 29px; // Base font size for headings
$presentation-h1-font-size: 2.5em !default;
$presentation-h2-font-size: 1.8em !default;
$presentation-h3-font-size: 1.2em !default;
$presentation-heading-font: Lato, sans-serif !default;
$presentation-heading-color: $unm-cherry;
$presentation-heading-line-height: 1.2em;
$presentation-font-smaller: 0.8em; // Sass variable for smaller font size
$presentation-line-height: 1.3em; // Sass variable for line height

// --- Code Block Settings ---
$code-line-height: 1.2em !default;
$code-font-family: "Fira Code", monospace !default;
$code-block-font-size: .5em !default; //sass variable for code block font size
$code-block-bg: rgb(223, 233, 237) !default; //Sass variable for code block background



// ====================
// 2. Imports
// ====================

@import url('https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,350,350i,400,400i&display=swap'); // Import Roboto font
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap'); // Import 'Fira Code' font
// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap'); // Import 'Roboto Slab' font

/* import Lato font */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap'); // Import Lato font
// /* import Open Sans font */
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap'); // Import Open Sans font
// /* import Tangerine font */
// @import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap'); // Import Tangerine font 
// /* import Fira Sans font */
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap'); // Import Fira Sans font




// ====================
// 3. Base Styles
// ====================

.reveal {
  font-family: $font-family-sans-serif;
  // font-size: $font-size;
  color: $body-color;
  background-color: $body-bg;
  line-height: $line-height-body;
  // margin-top: 0;
  // margin-bottom: 1em;
  margin: 0; // Reset default margin
  padding: 0;
}

.reveal a {
  color: $accent;
  // line-height: $line-height-body;
}

.reveal img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


#title-slide {

  .title,
  .subtitle {
    opacity: 0.80;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    color: $unm-cherry !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; //"Tangerine";
    // text-shadow: 2px 2px 2px #b22222;
  }

  .title {
    font-size: $font-size-large;
  }

  .subtitle {
    font-size: $presentation-h2-font-size;
  }

  .institute,
  .quarto-title-author,
  .date {
    // opacity: 0.50;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
    // color: #EEB422 !important;
  }

}


// ====================
// 4. Component Styles
// ====================

// Headings
.reveal h1 {
  color: $unm-green-chile;
  font-weight: bolder;
  font-size: $presentation-h1-font-size;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 8rem;
}

.reveal h2 {
  color: $unm-cherry !important; // Ensure color displays properly
  font-weight: bolder;
  font-size: $presentation-h2-font-size;
  margin: rem 0 1em 0;
  text-align: center;
  padding-top: .8em;
  padding-bottom: .8em;
}

.reveal h3 {
  color: $unm-lobo-gray;
  font-weight: normal;
  font-size: $presentation-h3-font-size;
  // margin: 1rem 0 1rem 0;
  padding-left: 1em;
}

.reveal h4 {
  color: $accent2;
  font-weight: normal;
  margin-top: 0;
}

// Code Blocks
.reveal pre code {
  padding: 1em;
  margin: 0;
  font-size: $font-size-medium-small;
  line-height: 1.3em;
}

.reveal pre {
  padding: 0;
  margin: $spacing-small;
  font-family: $code-font-family;
  font-size: $code-block-font-size;
  line-height: $code-line-height;
  background-color: $code-block-bg;
}

// Alerts
.alert {
  color: var(--col, $unm-cherry);
}

.fg {
  color: $unm-sandia-sunset;
}

.bg {
  background-color: var(--col, $body-bg);
  padding: 0;
  border-radius: 5px;
  display: inline-block;
}

// Button
.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-body;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: $accent;
  border: 1px solid $accent;
  color: #fff !important;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button::before {
  content: "▶";
  margin-right: 5px;
}

// Lists
li,
ul,
ol {
  padding-left: 0.5em;
  // margin-bottom: 1em;
  // color: $body-color;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  list-style-type: symbols(cyclic, "❯");
}

// Tables
table {
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 1em;
  border-spacing: 0;

  tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

th {
  background-color: rgba(0, 0, 0, 0.1);
  color: $body-color;
  font-weight: bold;
  padding: 0.5em;
}

td {
  padding: 0.5em;
  text-align: left;
  font-weight: lighter;
}

// ====================
// 5. Slide Type Styles
// ====================

// Smaller Slide
.small-slide {
  font-size: $presentation-font-smaller;
}

// Tiny Slide
.tiny-slide {
  font-size: $font-size-small;
}

// Quote Slide
.quote-slide {
  color: $unm-cherry;
  font-size: $font-size-small;
  text-align: center;

  blockquote {
    font-style: italic;
    color: $unm-lobo-gray;
    border-left: 5px solid $unm-green-chile;
    padding-left: 20px;
  }
}

// Image Slide
.image-slide {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  font-size: $font-size-tiny;

  h2 {
    font-size: 1em;
    color: $accent;
    background-color: $body-bg;
  }
}

// Section Slide

.section-slide {
  // background-color: $body-bg;
  font-size: $presentation-h2-font-size;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  p,
  li,
  ul,
  ol {
    padding-left: 0.5em;
  }
}

// ====================
// 6. Footer Styles
// ====================

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  pointer-events: none;
  padding: $spacing-medium 0;
}

// Prevent slide content from overlapping the footer
.reveal .slides section {
  padding-bottom: 50px;
}

// ====================
// 8. Call-Out Styles
// ====================

/* Info Call-Out */
.callout-note {
  // background-color: rgba($unm-turquoise, 0.1);
  border-left: 5px solid $unm-turquoise;
  padding: $spacing-small 0;
  margin: $spacing-medium 0;
  border-radius: 4px;

  h2 {
    color: $unm-turquoise;
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  p {
    // color: $unm-lobo-gray;
    font-size: $font-size;
  }
}

/* Warning Call-Out */
.callout-warning {
  // background-color: rgba($unm-terra, 0.1);
  border-left: 5px solid $unm-terra;
  padding: $spacing-small 0;
  margin: $spacing-medium 0;
  border-radius: 4px;

  h2 {
    color: $unm-terra;
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  p {
    // color: $unm-lobo-gray;
    font-size: $font-size;
  }
}

/* Tip Call-Out */
.callout-tip {
  // background-color: rgba($unm-high-noon, 0.1);
  border-left: 5px solid $unm-high-noon;
  padding: $spacing-small 0;
  margin: $spacing-medium 0;
  border-radius: 4px;

  h2 {
    color: $unm-high-noon;
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  p {
    // color: $unm-lobo-gray;
    font-size: $font-size;
  }
}

/* Success Call-Out */
.callout-success {
  // background-color: rgba($unm-green-chile, 0.1);
  border-left: 5px solid $unm-green-chile;
  padding: $spacing-small 0;
  margin: $spacing-medium 0;
  border-radius: 4px;

  h2 {
    color: $unm-green-chile;
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  p {
    // color: $unm-lobo-gray;
    font-size: $font-size;
  }
}

/* Danger Call-Out */
.callout-danger {
  // background-color: rgba($unm-cherry, 0.1);
  border-left: 5px solid $unm-cherry;
  padding: $spacing-small 0;
  margin: $spacing-medium 0;
  border-radius: 4px;

  h2 {
    color: $unm-cherry;
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  p {
    // color: $unm-lobo-gray;
    font-size: $font-size;
  }
}

/* Call-Out Icons using Pseudo-Elements */
.callout-info h2::before {
  content: "\f05a";
  /* Font Awesome Info Icon Unicode */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
  color: $unm-turquoise;
}

.callout-warning h2::before {
  content: "\f071";
  /* Font Awesome Warning Icon Unicode */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
  color: $unm-terra;
}

.callout-tip h2::before {
  content: "\f0eb";
  /* Font Awesome Lightbulb Icon Unicode */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
  color: $unm-high-noon;
}

.callout-success h2::before {
  content: "\f058";
  /* Font Awesome Check Circle Icon Unicode */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
  color: $unm-green-chile;
}

.callout-danger h2::before {
  content: "\f057";
  /* Font Awesome Times Circle Icon Unicode */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.5rem;
  color: $unm-cherry;
}

/*-- scss:mixins --*/
// ====================