*.html
*_files/
.DS_Store
_quarto_internal_scss_error.scss
.gitattributes
/example_*/
# Ignore RStudio project files
*.Rproj
.Rproj.user/

# Ignore VSCode workspace settings
*.code-workspace
# Ignore system files
.DS_Store
